* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.container {
    width: 80%;
    margin: 0 auto;
    border: 3px solid #333;
    padding: 5%;
    text-align: center;
}

/* img{
    width: 200px;
    height: 200px;
    border: 1px solid red;
} */