*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 255, 0.514);
}
.todo-div{
    width: 30%;
    background-color: white;
    margin: 4em auto;
    padding: 16px;
}
.listData{
    padding: 4px;
}
.div1{
    margin: 8px 0;
}