/* body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
}


.post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 35px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 60%;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-author {
  font-weight: bold;
}

.post-time {
  color: #606770;
  font-size: 14px;
}

.post-content {
  margin-bottom: 10px;
  width: 90%;
  padding: 20px 50px;
}

.post-img {
    width: 99%;
    height: 24em;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dddfe2;
  padding-top: 10px;
}

.action-btn {
  color: #606770;
  cursor: pointer;
  transition: color 0.3s;
}

.action-btn:hover {
  color: #1877f2;
}




#postBtn{
    width: 30%;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 12px;
    border-radius: 5px;
}
#postBtn:hover{
    cursor: pointer;
    color: white;
    background-color: #1877f2;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  /* background-color: #ffffff; */
  /* border: 1px solid red; */
}

body {
  background-color: #f0f2f5;
  min-height: 100vh;
}
.new_post_container {
  display: flex;
  align-items: center;
  margin-bottom: 4em;
}
#new_post_div {
  background-color: #f0f2f5;
  color: gray;
  width: 270%;
  height: 2.5em;
  padding: 11px;
  border-radius: 11px;
  margin-left: -15px;
  text-align: center;
}
.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}
.user_profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2em;
  width: 15em;
}
.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.4em;
  margin-top: 0.4em;
}

.profile_name {
  font-size: large;
  text-align: center;
}

.post_time {
  color: #9a9999;
  margin-top: 5px;
}
.post_contents {
  padding: 1px;
}
.post_image {
  width: 54em;
  height: 25em;
  margin: 6px 0;
}

.actions {
  display: flex;
  justify-content: space-around;
}
hr {
  color: gray;
  width: 100%;
  height: 7px;
  background-color: rgba(128, 128, 128, 0.258);
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 5px;
}

.like:hover,
.comment:hover,
.share:hover,
.post_image:hover,
.profile_name:hover,
.profile_img:hover,
#new_post_div:hover {
  cursor: pointer;
}
