*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: blue;
}
.container{
    width: 40%;
    margin: 0 auto;
    background-color: white;
    padding: 16px;
}
.infoDescription{
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0000ff20;
    border-radius: 12px;
}
.accountDP{
    width: 48px;
    height: 48px;
    border: 3px solid blue;
    border-radius: 50%;
}
.accountName{
    text-align: center;
    margin-left: 12px;
    font-size: 22px;
}
.description{
    padding: 8px 0px;
    font-size: 18px;
}
.dataImage{
    width: 100%;
}
.dataImage img{
    width: 100%;
}
.feelings{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.feelings:hover{
    background-color: #0000ff03;
}
.feelings div{
    font-size: 1.5em;
    margin: 4px 0px 20px 0px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}
.feelings div:hover{
    background-color: #0000ff18;
    transition: .6s;
}