* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(64, 155, 245);
  /* background-image: url('images/bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;*/
  height: 100vh; 
}
#weather-container {
  width: 60%;
  /* height: 90vh; */
  border-radius: 10px;
  background-image: url("images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: auto auto;
  padding: 3em;
}
#input-city {
  width: 90%;
  margin: 0 auto;
  padding: 12px;
}
#input-city-name {
  padding: 8px;
  border-radius: 5px;
  width: 60%;
}
#search {
  padding: 8px 16px;
  border-radius: 5px;
}
#weather-details {
  width: 90%;
  margin: 0 auto;
}
.text {
  font-size: 1.3em;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

