* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background: linear-gradient(90deg, rgba(0, 36, 28, 0.9445028011204482) 0%, rgba(8, 108, 105, 1) 25%, rgba(9, 107, 121, 1) 35%, rgba(118, 80, 9, 1) 57%, rgba(0, 212, 255, 1) 100%);
}

.container {
    width: 85%;
    margin: 0 auto;
}

.container h1 {
    font-size: 2em;
    text-align: center;
    margin: 1em;
    padding: 1em;
    color: white;
}

.to-do-list {
    background-color: rgba(255, 0, 0, 0.464);
    padding: 1em 0;
    transition: 2s;
}

.to-do-list h2 {
    text-align: center;
    color: white;
}

.input-title {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input-title input {
    width: 70%;
    padding: 1em;
}

button {
    padding: 1em;
    font-weight: bold;
}

button:hover {
    transition: 0.5s;
    color: red;
    background-color: yellow;
    cursor: pointer;
}
